@model AppSeedCode.Models.Role

@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<br />

<h1>Editando</h1>
<hr />

<div class="card text-md-center col-md-4">
    <div class="card-header">
        Editando Rol
    </div>
    <div class="card-body">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a class="btn btn-primary" asp-action="Index"> <i class="bi bi-box-arrow-left"></i> Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
